.about-image {
    width: 80%; /* Измените размер изображения на 80% от родительского контейнера */
    max-width: 100%; /* Убедитесь, что изображение не превышает 100% ширины контейнера */
    height: auto; /* Сохраняйте соотношение сторон изображения */
}
