.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.card-body .btn {
  margin-top: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-item img {
  width: 800px;
  height: 600px;
  object-fit: cover;/* Автоматическое определение высоты для сохранения пропорций */
}


/* src/App.css or any global CSS file */
.image-container {
  width: 100%;
  height: 400px; /* Вы можете изменить это значение на любое другое, чтобы задать нужный размер */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Сохраняет соотношение сторон, обрезая изображение по центру */
}
